
        <div class="site_bar">
            <div class="item_sb wrap_newsletter">
                <div class="item_sb_top">
                    <h4>newsletter</h4>
                </div>
                <p class="item_sb1_p">Subscribe my Newsletter for new blog posts. Stay updated from your inbox!</p>
                <form class="newsletter" action="">
                    <div class="wrap_input">
                        <input type="text" placeholder="Name...">
                    </div>
                    <div class="wrap_input">
                        <input type="text" placeholder="Email...">
                    </div>

                    <button class="btn_form btn_subscribe">subscribe</button>
                </form>
            </div>

            <div class="item_sb popular_post">
                <div class="item_sb_top">
                    <h4>popular posts</h4>
                </div>
                <div class="wrap_pop_post">
                    <a href="#" class="pop_post">
                    <img src="assets/img/home_img1.jpg" alt=" ">
                    <div class="opacity"></div>
                    <div class="wrap_pop_text">
                        <div class="pop_text">
                            <span>1</span>
                            <h5>CleanMyMac</h5>
                            <p>Activation Code</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </a>
                    <a href="#" class="pop_post">
                        <img src="assets/img/home_img2.jpg" alt=" ">
                        <div class="opacity"></div>
                        <div class="wrap_pop_text">
                            <div class="pop_text">
                                <span>2</span>
                                <h5>Winrar</h5>
                                <p>Password Remover</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </a>
                    <a href="#" class="pop_post">
                        <img src="assets/img/home_img3.jpg" alt=" ">
                        <div class="opacity"></div>
                        <div class="wrap_pop_text">
                            <div class="pop_text">
                                <span>3</span>
                                <h5>Avast</h5>
                                <p>Activation Code</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>

            </div>

            <div class="item_sb wrap_categories">
                <div class="item_sb_top">
                    <h4>categories</h4>
                </div>
                <ul class="categories">
                    <li>
                        <a class="software" href="">Software<span class="quantity">(5)</span></a>
                    </li>
                    <li>
                        <a class="activators" href="">Activators<span class="quantity">(5)</span></a>
                    </li>
                    <li>
                        <a class="multimedia" href="">Multimedia<span class="quantity">(5)</span></a>
                    </li>
                    <li>
                        <a class="idm" href="">IDM<span class="quantity">(5)</span></a>
                    </li>
                    <li>
                        <a class="tools" href="">Tools<span class="quantity">(5)</span></a>
                    </li>
                    <li>
                        <a class="windows" href="">Windows<span class="quantity">(5)</span></a>
                    </li>
                </ul>
            </div>

            <div class="item_sb wrap_resent_posts">
                <div class="item_sb_top">
                    <h4>RECENT POSTS</h4>
                </div>

                <a href="" class="resent_posts">
                    <div class="posts_img">
                        <img src="assets/img/home_art7.jpg" alt=" ">
                    </div>

                    <div class="resent_descr">
                        <p class="resent_head">Avast Internet Security <br>License File</p>
                        <span class="recent_date">July 10, 2017</span>
                        <span class="link_art"></span>
                    </div>
                </a>
                <a href="" class="resent_posts">
                    <div class="posts_img">
                        <img src="assets/img/home_art6.jpg" alt=" ">
                    </div>

                    <div class="resent_descr">
                        <p class="resent_head">Avast Activation Code</p>
                        <span class="recent_date">July 10, 2017</span>
                        <span class="link_art"></span>
                    </div>
                </a>
                <a href="" class="resent_posts">
                    <div class="posts_img">
                        <img src="assets/img/home_art2.jpg" alt=" ">
                    </div>

                    <div class="resent_descr">
                        <p class="resent_head">Windows 10 Activator</p>
                        <span class="recent_date">July 10, 2017</span>
                        <span class="link_art"></span>
                    </div>
                </a>
                <div class="resent_posts_notop">
                    <a href="" class="resent_posts">
                        <div class="posts_img">
                            <img src="assets/img/home_art5.jpg" alt=" ">
                        </div>

                        <div class="resent_descr">
                            <p class="resent_head">Wifi Hack</p>
                            <span class="recent_date">July 10, 2017</span>
                            <span class="link_art"></span>
                        </div>
                    </a>
                    <a href="" class="resent_posts">
                        <div class="posts_img">
                            <img src="assets/img/home_art10.jpg" alt=" ">
                        </div>

                        <div class="resent_descr">
                            <p class="resent_head">CleanMyMac <br>
                                Activation Code</p>
                            <span class="recent_date">July 10, 2017</span>
                            <span class="link_art"></span>
                        </div>
                    </a>
                </div>


            </div>
        </div>

