<!DOCTYPE html>
html(lang="en", class="no-js")
include partials/head


body

    div.crm
        div.sidebar
            div.menu
                a(href="/", class="logo")
                    img(src="assets/img/logo.svg ")

                ul
                    li.menu__item.menu__item_current
                        a(href="#", class="menu__link") Applications

                        ul.submenu
                            li
                                a(href="#", class="submenu__link") Nice app 1

                    li.menu__item
                        a(href="#", class="menu__link") Documentation
                    li.menu__item
                        a(href="#", class="menu__link") Settings
                    li.menu__item
                        a(href="#", class="menu__link") Support
                    li.menu__item
                        a(href="#", class="menu__link") Log out

        div.crm__main
            div.panel_top
                button.btn.btn_back Back
                span.crm__title Administration

            div.panel__search
                div.input__group
                    input(class="search__input", placeholder="Search for something…", type="text")
                    button.btn_search

                div.search__total
                    span.search__value 4
                    span.search__text services enregistrés

                button.btn add

            div.table
                table.crm__table
                    thead
                        tr
                            th Title
                            th Role
                            th Service
                            th Company
                            th Status
                            th Date
                            th Actions

                    tbody
                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator

                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit

                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator

                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit


                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit

                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit

                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit

                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit
                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.disconnected Disconnected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit

                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.connected Connected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit

                        tr
                            td Title
                            td SUPER_ADMIN
                            td Production
                            td Aboutgoods
                            td.disconnected Disconnected
                                span.status_indicator
                            td 19/02/2018
                            td
                                button.btn_more
                                button.btn_edit






include partials/footer
